<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoyHarmon.RosieLIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RoyHarmon.RosieLIS.My.MySettings.connectionString"
            connectionString="server=127.0.0.1;database=lisdb;uid=lisuser;pwd=rosie_LIS" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RoyHarmon.RosieLIS.My.MySettings>
            <setting name="portName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="handShake" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="databaseType" serializeAs="String">
                <value>SQL Server</value>
            </setting>
            <setting name="maxTests" serializeAs="String">
                <value>6</value>
            </setting>
        </RoyHarmon.RosieLIS.My.MySettings>
    </applicationSettings>
</configuration>