<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RoyHarmon.RosieLIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RoyHarmon.RosieLIS.My.MySettings.connectionString"
            connectionString="server=127.0.0.1;database=lisdb;uid=lisuser;pwd=rosie_LIS" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <RoyHarmon.RosieLIS.My.MySettings>
            <setting name="portName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="handShake" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="databaseType" serializeAs="String">
                <value>SQL Server</value>
            </setting>
            <setting name="maxTests" serializeAs="String">
                <value>6</value>
            </setting>
        </RoyHarmon.RosieLIS.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.23.3.0" newVersion="3.23.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
     <system.diagnostics>
          <sources>
               <!-- This section configures My.Application.Log -->
               <source name="DefaultSource" switchName="DefaultSwitch">
                    <listeners>
                         <add name="FileLog"/>
                          <add name="EventLog" /> 
                          <add name="Console" /> 
                    </listeners>
               </source>
          </sources>
          <switches>
               <add name="DefaultSwitch" value="Information" />
          </switches>
          <sharedListeners>
               <add name="FileLog"
                    type="Microsoft.VisualBasic.Logging.FileLogTraceListener,&#xD;&#xA;                 Microsoft.VisualBasic, Version=8.0.0.0,&#xD;&#xA;                 Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"


                    initializeData="FileLogWriter" />
               <add name="EventLog"
                    type="System.Diagnostics.EventLogTraceListener,&#xD;&#xA;                 System, Version=2.0.0.0,&#xD;&#xA;                 Culture=neutral, PublicKeyToken=b77a5c561934e089"


                    initializeData="RosieLIS"/>
               <add name="Console"
                    type="System.Diagnostics.ConsoleTraceListener,&#xD;&#xA;                 System, Version=2.0.0.0,&#xD;&#xA;                 Culture=neutral, PublicKeyToken=b77a5c561934e089"


                    initializeData="true" />
          </sharedListeners>
     </system.diagnostics>
</configuration>
